body{
  background-color: DarkSlateGray;
  margin-left: 30px;
  color: #e0e0e0;
}

.mdl-layout__header{
  width: auto;
  margin-left: -30px;
}

h1{
  text-align: center;
}

td{
  text-align: left;
  padding: 8px;
}

.mdl-textfield__label, mdl-textfield__input{
  color: #e0e0e0;
}
